<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="CommandLineHandle" value="0002149C" />
    <add key="MCOutPutHandle" value="00130ECE" />
    <add key="CommandLineTest" value=".csy" />
    <add key="Instrument" value="CFFEX.IF HOT" />
    <add key="DataSource" value="MCTrader" />
    
  </appSettings>

</configuration>